html, body {
    margin: 0;
    padding: 0;
}


h1{
    height: 3000px;
}

.parallax-root img {
    display: block;
    margin: 0 auto;
}


.parallax-root {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax-root .scene{
    height: 100%;
    position: absolute;
}


.parallax-root .layer img{
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.parallax-root .layer:nth-child(2) img{
    -webkit-animation-name: line1;
    -webkit-animation-duration: 10s;
}
.parallax-root .layer:nth-child(3) img{
    -webkit-animation-name: line2;
    -webkit-animation-timing-function: liner;
    -webkit-animation-duration: 15s;
}


@-webkit-keyframes line1 {
    0% {
        -webkit-transform:translate(-5px , -5px);
    }
    20%{
        -webkit-transform:translate(-15px , -15px);
    }
    40%{
        -webkit-transform:translate(-5 , -25px);
    }
    50%{
        -webkit-transform:translate(-25px , -30px);
    }
    80%{
        -webkit-transform:translate(-15px , -25px);
    }
    10%{
        -webkit-transform:translate(-25px , -25px);
    }
}

@-webkit-keyframes line2 {
    0% {
        -webkit-transform:translate(30px , 10px);
    }
    20%{
        -webkit-transform:translate(20px , 40px);
    }
    40%{
        -webkit-transform:translate(50px , 12px);
    }
    50%{
        -webkit-transform:translate(26px , 30px);
    }
    80%{
        -webkit-transform:translate(10px , 0px);
    }
    10%{
        -webkit-transform:translate(0 , 5px);
    }
}
