html, body {
    margin: 0;
    padding: 0;
}

.parallax-root img {
    display: block;
    margin: 0 auto;
}


.parallax-root {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax-root .layer{
    display: none;
}

.parallax-root .scene{
    height: 100%;
    position: absolute;
}

